body{
    font-family: "Helvetica","Arial",serif;
    color: #333;
    background-color: #ccc;
    margin: 1em 7%;
}
h1{
    color:#333;
    background-color: transparent;/*背景颜色透明*/
}
a{
    color: #c60;
    background-color: transparent;/*粗体字*/
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding: 0;
}
li{
    float: left;
    padding: 1em;
    list-style: none;
}
img{
    display: block;
    clear: both;
}